@import "../../styles/variables";

.list {
  display: grid;
  grid-gap: 1rem;
  justify-items: center;
}

@media (min-width: $small) {
  .list {
    grid-template-columns: 1fr 1fr;
  }
}


@media (min-width: $medium) {
  .list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
