@import '../../styles/variables';

.ln-container {
  /*width: 100%;
  max-width: 70rem;
  padding: 0 1.5rem;
  margin: 3rem auto;*/
  position: relative;
}

.ln-bg {
  max-width: 100%;
  z-index: 1;
  position: relative;
}

.ln-logo {
  max-width: 120px;
}

.ln-content {
  z-index: 5;
  color: white;
  position: absolute;
  text-align: center;
  left: 50%;
  width: 100%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);

  h2 {
    font-size: 1.5rem;
    margin: 1rem 0;
  }

  p {
    font-size: 0.8rem;
  }
}

@media (min-width: $small) {
  .ln-logo {
    max-width: 200px;
  }

  .ln-content {
    p {
      font-size: 0.9rem;
    }
  }
}

@media (min-width: $medium) {

  .ln-content {
    button {
      margin: 1rem 0;
    }

    h2 {
      font-size: 3rem;
      margin: 1.5rem 0;
    }

    p {
      font-size: 1rem;
    }
  }
}
