.App {

}

.hero {
  img {
    width: 100vw;
  }
}

section {
  width: 100%;
  max-width: 70rem;
  padding: 0 1.5rem;
  margin: 3rem auto;
}

.mortgage-rates {
  text-align: center;
  h2 {
    font-size: 2.5rem;
  }
}

.live-nation {
  padding: 0;
  margin: 0 auto;
}
