@import "./styles/variables";

/*TODO: Come back to this*/
.hero {
  img {
    max-width: 100vw;
  }
}

section {
  max-width: 70rem;
  padding: 0 1.5rem;
  margin: 5rem auto;
}

.mortgage-rates {
  text-align: center;
  h2 {
    font-size: 2.5rem;
  }
}

.live-nation {
  padding: 0;
  margin: 0 auto;
}

@media (min-width: $medium) {
  section {
  }
}
